
/* CSS RESET*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* CSS RESET*/



/*---------PRIMA SEZIONE----------
----------------------------------*/
header .topbar{
    background-color: #add8e6;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


header{
    border-bottom: 4px solid #add8e6;
}


.box{
    background-color: #daa520;
    width: 1250px;
    height: 50px;
    margin-top: 20px ;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
} 

.flex-item{
    border: dashed black;
    text-align: center;
    padding-top: 15px;
    height: 50px;
}

.flex-item.right{
    width: 20%;   
}  
.flex-item.left{
    width: 20%;   
}  

.flex-item.center{
    width: 60%;   
}   
   
.jumbotron{
    background-color: #00008b ;
    display: flex;
    justify-content: center;
    width: 100%;
     /*DEBUG*/
    height: 520px ;
     /*DEBUG*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center ;
}

.bigger-box{
    /*DEBUG*/
    background-color: #ee82ee;
    width: 950px;
    height: 420px;
    border: dashed black;
     /*END DEBUG*/
}
/*---------PRIMA SEZIONE----------
----------------------------------*/

/*-------SECONDA SEZIONE----------
----------------------------------*/

.even{
    background-color: white;
    display: flex;
    flex-direction: row ;
    justify-content: center;
    align-items: center;
}
.container1{
    display: flex;
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.box1{  
    width: 60%;
    /* DEBUG */
    height: 520px; 
    background-color:#1e90ff ;
    border: dashed black;
    /* END DEBUG */
}
.box2{ 
    width: 40%;
     /*DEBUG*/
    height: 520px;
    background-color:#ffc0cb ;
    border: dashed black;
     /*END DEBUG*/
}

/*-------SECONDA SEZIONE----------
----------------------------------*/


/*-------TERZA SEZIONE-------------
----------------------------------*/

.odd{
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1.row-reverse{
    display: flex;
    flex-direction: row-reverse;
    width: 1250px;
    margin-top: 50px;
    margin-bottom: 50px;
}


.box1{  
    width: 60%;
     /*DEBUG*/
    height: 520px;
    background-color:#1e90ff ;
    border: dashed black;
}
.box2{ 
    width: 40%;
     /*DEBUG*/
    height: 520px;
    background-color:#ffc0cb ;
    border: dashed black;
}

/*-------TERZA SEZIONE-------------
----------------------------------*/

/*-------QUARTA SEZIONE-------------
----------------------------------*/

.box1{  
    width: 60%;
     /*DEBUG*/
    height: 520px;
    background-color:#1e90ff ;
    border: dashed black;
}
.box2{ 
    width: 40%;
     /*DEBUG*/
    height: 520px;
    background-color:#ffc0cb ;
    border: dashed black;

}

/*-------QUARTA SEZIONE-------------
----------------------------------*/


/*-------QUINTA SEZIONE-------------
----------------------------------*/

.odd1{
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.box3{
     /*DEBUG*/
    background-color: #228b22;
    width: 1250px;
    height: 925px;
    border: dashed black;
     /*END DEBUG*/
    margin-top: 50px;
    margin-bottom: 50px;

}
/*-------QUINTA SEZIONE-------------
----------------------------------*/

/*--------FOOTER---------------*/

footer{
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid white;
}
.footer-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 1250px;
    margin-top: 30px;
    margin-bottom: 40px;
}
.big-col{
     /*DEBUG*/
    background-color: #f08080;
    height: 600px;
    width: 40%;
    border: dashed white;
     /*END DEBUG*/
    
    
}
.col{
     /*DEBUG*/
    background-color: #20b2aa;
    height: 600px;
    width: 15%;
    border: dashed white;
     /*END DEBUG*/
}
/*--------FOOTER---------------*/

footer2{
    background-color: #23272a;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 
}

.sub-section1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
     /*DEBUG*/
    background-color: #7fffd4;
    height: 110px ;
     /*END DEBUG*/
    width: 1250px;
    margin-top: 20px;
    margin-bottom: 20px;

}
.button{
    color: #ffb6c1;
}
    
